body {
	margin: 0 0 0 0;
}

a {
	text-decoration: none;	
}

a:hover {
	text-decoration: underline;
}

.header {
	color: black;
	background-color: #eae6e2;
	width: 100%;
	height: 60px;
	position: relative;
}

.content {
	margin: 8px 20px 8px 20px;
}

.header_logo {
	height: 40px;
	width: auto;
	max-width: 100%;
 	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
  	left: 20px;
}

.dashboard_header_link {
	color: black;
	font-weight: bold;
	position: absolute;
	left: 220px;
  	top: 50%;
  	transform: translateY(-50%);
}

.user_name_link {
	color: black;
	font-weight: bold;
	position: absolute;
	right: 20px;
	bottom: 58%;
}

.log_out_link {
	color: black;
	font-weight: bold;
	position: absolute;
	right: 20px;
	top: 58%;
}

.dash_restaurant_link {
	color: #4169E1;
	font-weight: bold;
	font-size: 20px;
}

.review_list {
	padding-top: 10px;
	padding-left: 0px;
	list-style-type: none;
}

.review_author {
	color: black;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 2px;
}

.review_date {
	color: gray;
	font-size: 12px;
	padding-left: 4px;
}

.review_text {
	color: gray;
	font-size: 14px;
	padding-bottom: 6px;
}

.reply_link {
	color: gray;
	font-size: 12px;
	font-weight: bold;
}

.comment_list {
	list-style-type: none;
	padding-top: 10px;
}

.comment_author {
	color: black;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 2px;
}

.comment_date {
	color: gray;
	font-size: 12px;
	padding-left: 4px;
}

.comment_text {
	color: gray;
	font-size: 14px;
}

.add_comment_container {
	display: none;
	padding-top: 10px;
	padding-left: 40px;
}

.name_and_thumb {
	vertical-align: middle;
}

.thumb_logo {
	height: 30px;
	width: 30px;
	padding-left: 10px;
}

.restaurant_name {
	font-size: 40px;
	font-weight: bold;
}

.review_horizontal_rule {
	margin-top: 4px;
	margin-bottom: 10px;
}

.review_count {
	color: black;
	font-size: 14px;
	font-weight: bold;
}

.thumbs_down_link {
	color: #4169e1;
	font-size: 14px;
	font-weight: bold;
}

.thumbs_down_title {
 	color: gray;
 	font-size: 14px;
 	font-weight: bold;
}

.thumbs_down_restaurant_link {
	color: gray;
	font-size: 12px;
	font-weight: bold;
}

.add_restaurant_link {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.visited_link {
	font-size: 14px;
	font-weight: bold;
	color: black;
}

.restaurant_list {
	list-style-type: none;	
}

.restaurant_list_item {
	padding-top: 6px;
	padding-bottom: 6px;
}

.dashboard_section_title {
	font-size: 16px;
	font-weight: bold;
	color: black;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.blue_button {
	background-color: #4169E1;
}

.small_button{
    background-color: black;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.new_restaurant_field {
	width: 260px;
	height: 30px;
	padding-left: 8px;
	padding-right: 8px;
}

.reset_password_link {
	font-size: 14px;
	font-weight: bold;
	color: black;
}

.new_user_link {
	font-size: 14px;
	font-weight: bold;
	color: #4169E1;
}

.register_login_link {
	font-size: 14px;
	font-weight: bold;
	color: #4169E1;	
}

.user_review {
	color: #A13D3D;
}

.lat_long {
	font-style: italic;
}

.form_error {
	padding-top: 6px;
	padding-bottom: 6px;
	color: red;
}

.user_profile_label {
	color: black;
	font-weight: bold;
}

input[id^="id"] {
	height: 30px;
	width: 200px;
	padding-left: 6px;
	padding-right: 6px;
}

.add_restaurant_label {
	color: black;
	font-weight: bold;
}

.latitude_longitude_container {
	display: none;
}

.invalid_address_container {
	display: none;
	color: red;
}

