{% load static %}
<head>
    <title>DMS Lunch Options</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lunch/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lunch/css/oocss-space.css' %}" />    
</head>

<body>
  <div class="content">
    <h1>DMS Lunch Dashboard Registration</h1>
    <form method="post" action="{% url 'do_register' %}">
    {% csrf_token %}
      {% if form.error_dict %}
        <p class="error">Please fix the error.</p>
      {% endif %}
      {% if form.username.errors %}
        {{ form.username.html_error_list }}
      {% endif %}
      <label for="id_username">Username:</label><br> {{ form.username }}<br>
      {% if form.password1.errors %}
        {{ form.password1.html_error_list }}
      {% endif %}
      <label for="id_password1">Password:</label><br> {{ form.password1 }}<br>
      {% if form.password2.errors %}
        {{ form.password2.html_error_list }}
      {% endif %}
      <label for="id_password2">Password (again):</label><br> {{ form.password2 }}<br>
      <br>
      <input type="submit" value="Register" class="button"/>
    </form>
    <br>
    <p><a href="{% url 'login' %}" class="register_login_link">Already have an account?</a></p>
  </div>
</body>
