{% extends './lunch_base.html' %}

{% block content %}
<h1 id="dashboard_title">Lunch Dashboard</h1>

{% if unvisited_restaurants|length %}
	{% include './dashboard_restaurant_list.html' with dashboard_list_name="Unvisited Restaurants" dashboard_restaurant_list=unvisited_restaurants %}
{% endif %}

{% if visited_restaurants|length %}
	{% include './dashboard_restaurant_list.html' with dashboard_list_name="Visited Restaurants" dashboard_restaurant_list=visited_restaurants %}
{% endif %}

{% if request.user.is_superuser %}
<div class="ptl">
	<button class="button" onclick="location.href='{% url 'add_restaurant' %}'">Add New Restaurant</button>
</div>
{% endif %}

{% if thumbs_down_restaurants|length %}
	<div class="ptx">
		<div class="thumbs_down_title">Restaurants Given Thumbs Down:</div>
		<ul class="mtn">
			{% for restaurant in thumbs_down_restaurants %}
				<li><a class="thumbs_down_restaurant_link" href="{% url 'restaurant' restaurant_id=restaurant.pk %}">{{ restaurant.name }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}

{% endblock %}