{% extends './lunch_base.html' %}
{% load static %}

{% block additional_js %}
	<script>
		$(document).ready(function(){
			$.ajaxSetup({
			  data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
			});			
			$(".reply_link").click(function(event) {
				var selector = "#" + event.target.id + ".add_comment_container";
		    	$(selector).toggle();
		    });		
		});
	</script>
{% endblock %}

{% block content %}
<div class="pbl">
	<div class="name_and_thumb">
		<span class="restaurant_name">{{ restaurant.name }}</span>
		{% if thumbs_down %}
		<img class="thumb_logo" src="{% static 'lunch/images/thumbs-down-icon.png' %}">
		{% endif %}
	</div>
	<div class="ptm pbl">{{ restaurant.address }}</div>
	{% if restaurant.visited == False %}
	<div class="pbl">
		<button class="button" onclick="location.href='{% url 'mark_restaurant_visited' restaurant.pk %}'">Visited {{ restaurant.name }}?</button>
	</div>
	{% endif %}
	<button class="button blue_button" onclick="location.href='{% url 'update_thumbs_down' restaurant.pk %}'">{% if thumbs_down %}Remove{% else %}Add{% endif %} Thumbs Down</button>
</div>

<span class="review_count">{{ reviews|length }} {% if reviews|length == 1 %}Review{% else %}Reviews{% endif %}</span>
<hr class="review_horizontal_rule">
<form action="{% url 'add_review' restaurant.id %}" method="post">
{% csrf_token %}
	<textarea name="new_review" rows="4" cols="50" placeholder="Add review..."></textarea>
	<br>
	<input type="submit" value="Submit" class="small_button">
</form>
<ul class="review_list">
{% for review in reviews %}
	<li class="pbm">
		<span class="review_author">{{ review.author.username }}</span><span class="review_date">{{ review.date|date:"F j, Y" }}</span>
		<div class="review_text">{{ review.text }}</div>
		<a href="#" class="reply_link">
			<div id="{{ review.id }}">Reply</div>
		</a>
		<div class="add_comment_container" id="{{ review.id }}">
			<form action="{% url 'add_review_comment' review.id %}" method="post">
			{% csrf_token %}
				<textarea name="new_review_comment" rows="2" cols="50" placeholder="Add comment..."></textarea>
				<br>
				<input type="submit" value="Submit" class="small_button">
			</form>	
		</div>
	{% if review.comments.all|length %}
		<ul class="comment_list">
		{% for comment in review.comments.all %}
			<li class="pbm">
				<span class="comment_author">{{ comment.author.username }}</span><span class="comment_date">{{ comment.date|date:"F j, Y" }}</span>
				<div class="comment_text">{{ comment.text }}</div>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
	</li>
{% endfor %}
</ul>
{% endblock %}